<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-12 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Add to do</h4>
      </div>
      <div class="card-body">

        <form>
          <div class="form-group">
            <label for="title" class="font-weight-bold">To do</label>
            <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Title">
          </div>
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Add</button>
        </form>

      </div>
    </div>
  </div>
</div>
