<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-12 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Add to do</h4>
            </div>
            <div class="card-body">

                <form #formToDo="ngForm" (ngSubmit)="addToDo(formToDo.value)">
                    <div class="form-group">
                        <label class="font-weight-bold">To do</label>
                        <input
                                type="text"
                                class="form-control"
                                name="title"
                                placeholder="Title"
                                ngModel
                                #toDoText>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Add</button>
                    <button type="button" (click)="addToDo2(toDoText)" class="btn btn-lg btn-block btn-outline-primary">
                        Add type 2
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
